{% extends 'utils/base.html' %}
{% block title %}{{username}} - Room ID: {{room_id}}{% endblock %}

{% block content %}
{% include 'utils/navbar.html' %}
<div class="container my-3 room-container">
    <div class="row">
        <div class="col-8">
            <select name="language" id="language-id">
                <option>Choose Language</option>
                <option value="4">C (gcc 7.2.0)</option>
                <option value="10">C++ (g++ 7.2.0)</option>
                <option value="16">C# (mono 5.4.0.167)</option>
                <option value="22">Go (1.9)</option>
                <option value="26">Java (OpenJDK 9 with Eclipse OpenJ9)</option>
                <option value="27">Java (OpenJDK 8)</option>
                <option value="29">JavaScript (nodejs 8.5.0)</option>
                <option value="34">Python (3.6.0)</option>
                <option value="43">Text (plain text)</option>
            </select>
            <div id="editor"></div>
            <h5 style="margin-top: 10px;">Console:</h5>
            <div id="status-div"></div>
        </div>
        <div class="col-4">
            <div class="d-flex flex-column">
                <div class="col input">
                    <h4>Input</h4>
                    <div id="input-div"></div>
                </div>
                <div class="col output">
                    <h4>Output</h4>
                    <div id="output-div"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="chat-div">
        <span>Chat with Members...</span>
        <div id="chat-close" class="btn btn-outline-danger">X</div>
        <div class="d-flex flex-column" id="chat-box">
            <div id="chat-show-window"></div>
            <div id="chat-control-window">
                <input autocomplete="off" type="text" id="msg-input">
                <i class="bi bi-send btn" id="chat-send-btn"></i>
            </div>
        </div>
    </div>
    <div id="user-div">
        <h5>Active Users</h5>
        <div id="user-close" class="btn btn-outline-danger">X</div>
        <ol id="user-div-ol">
            
        </ol>
    </div>
    <div id="draw">
        <div id="wboard-close" class="btn btn-outline-danger">X</div>
        <div id="wb-nav">
            <button id="draw-btn" class="btn btn-outline-dark btn-sm">Draw</button>
            <button id="erase-btn" class="btn btn-outline-danger btn-sm">Erase</button>
        </div>
        <canvas id="canvas" height="536px" width="575px"></canvas>
        <div id="wb-footer">

        </div>

    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function(){

        const roomID = "{{room_id}}";
        var username = "{{username}}";


        // Chat socket
        const chatSocket = new WebSocket(
            "ws://"
            + window.location.host
            + "/ws/chat/"
            + roomID
            + "/"
            + username
            + "/"
        );

        chatSocket.onmessage = function(e){
            var data = JSON.parse(e.data);
            $('#chat-show-window').append(
                "<div class=\"R-msg-box d-flex flex-column\"><div class=\"user\">"
                + data.sender
                + ":</div><p>"
                + data.chat_message
                + "</p></div>"
            )
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
            console.log(e);
        };

        $("#chat-send-btn").click((event) => {
            event.preventDefault();
            var chat_message = $("#msg-input").val();
            $('#chat-show-window').append(
                "<div class=\"S-msg-box d-flex flex-column\"><div class=\"user\">You:</div><p>"
                + chat_message
                + "</p></div>"
            )
            chatSocket.send(JSON.stringify({
                'chat_message': chat_message,
                'sender': "{{username}}"
            }))
            var chat_message = $("#msg-input").val("");
        })

        $("#msg-input").on("keypress",(event) => {
            if(event.keyCode === 13){
                event.preventDefault();
                var chat_message = $("#msg-input").val();
                $('#chat-show-window').append(
                    "<div class=\"S-msg-box d-flex flex-column\"><div class=\"user\">You:</div><p>"
                    + chat_message
                    + "</p></div>"
                )
                chatSocket.send(JSON.stringify({
                    'chat_message': chat_message,
                    'sender': "{{username}}"
                }))
                var chat_message = $("#msg-input").val("");
            }
        })

        const userSocket = new WebSocket(
            "ws://"
            + window.location.host
            + "/ws/user/"
            + roomID
            + "/"
            + username
            + "/"
        );

        userSocket.onclose = function(e) {
            console.error('User socket closed unexpectedly');
            console.log(e);
        };

        userSocket.onmessage = function(e){
            var data = JSON.parse(e.data);
            var user_list = data.user_list
            for(var i=0; i<user_list.length; i++){
                $('#user-div-ol').append(
                    "<li>"+user_list[i]+"</li>"
                )
            }
        }
    })
</script>

<script>
    const room_id = "{{room_id}}"
    const username = "{{username}}"
</script>
{% endblock %}